- content_for :head do
  %title Hobbit v. Giant

#player.panel
  #health
    %script
      $(function(){RealtimeLine.chart([0, 39], "linear", RealtimeLine.tick, hobbit.healthPercentage);})
#panel
  %button#connector Connect!
  %br/
  %input#new-health/