- content_for :head do
  %title Hobbit v. Giant

%script{:type => "text/x-handlebars", "data-template-name" => "current-player"}
  {{#with player}}
  #name {{name}}
  #health {{healthPercentage}}
  {{/with}}

%script{:type => "text/x-handlebars", "data-template-name" => "player"}
  #name {{content.name}}
  #health {{content.healthPercentage}}

  
#player.panel
  %h2 Current Player

#players.panel
  %h2 Players

#login
  %form#login-form
    %input#name{:placeholder => "Name"}/
    %input#connector{:type => "submit", :value => "Connect!"} 

#update-health
  %input#new-health{:placeholder => "Damage Sustained"}