!!!
%html
  %head
    
    %meta{:charset =>"utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "site.css"
    = javascript_include_tag "/javascripts/lib/jquery.min.js", "/javascripts/lib/ember", "/javascripts/lib/d3", "app"
    = yield_content :head

  
  %body{:class => page_classes}
    #main{:role => "main"}
      = yield